{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Login</title>

    <!-- Local styling -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login">
        <div class="form">
          <form action="login_admin" method="post" enctype="multipart/form-data" class="login-form">
            {% csrf_token %}
            <span class="material-icons">Login</span>
            <input name="email" type="text" placeholder="email" required required/>
            <input name="pwd" type="password" placeholder="password" required />
            <button>login</button>
          </form>  
        </div>
      </div>
</body>
</html>